/node_modules
/public/build
/public/css
/public/fonts/
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
