// Bulma
@import 'bulma';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
}

footer {
    height: 3.25rem;
    line-height: 3.25rem;
}

.table th {
    vertical-align: bottom;
}

@media screen and (min-width: 769px) {
    .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
        margin-left: unset;
    }

    .navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
        margin-right: unset;
    }
}

@media screen and (min-width: $desktop) {
    .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
        margin-left: -0.75rem;
    }

    .navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
        margin-right: -0.75rem;
    }
}

tr.valign-middle > td,
tr.valign-middle > th {
    vertical-align: middle !important;
}

span.underline-dotted {
    border-bottom: 1px dashed #636b6f;
}

span.underline-dotted:hover {
    border-bottom: none;
}
