// Bulma
@import 'bulma';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
}

footer {
    height: 3.25rem;
    line-height: 3.25rem;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #3273dc;
    }

    .table {
        background-color: #141414;
    }

    .table td, .table th {
        border: unset;
    }
}

tr.valign-middle > td,
tr.valign-middle > th {
    vertical-align: middle !important;
}

span.underline-dotted {
    border-bottom: 1px dashed #636b6f;
}

span.underline-dotted:hover {
    border-bottom: none;
}
