// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: 1px solid #d3e0e9;

  .container,
  .container-fluid {
    padding: 18px 15px;
  }
}

a.btn.btn-page {
  margin-bottom: 11px;
}

tr.valign-middle > td,
tr.valign-middle > th {
  vertical-align: middle !important;
}

span.underline-dotted {
  border-bottom: 1px dashed #636b6f;
}

span.underline-dotted:hover {
  border-bottom: none;
}
