
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

a.btn.btn-page {
  margin-bottom: 11px;
}

h2.page-title {
  margin-top: 0;
}

td.valign-middle,
th.valign-middle {
  vertical-align: middle !important;
}